/* Reset */
* {
  border: none;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}
*:focus {
  outline: none;
}
header,
aside,
section,
nav,
footer,
article,
img {
  display: block;
}
body {
  background: url("../img/textura.jpg");
}
#fotoFondo {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}
#contenedor {
  position: relative;
  z-index: 1;
}
