@import url "@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic";
* {
  border: none;
  font-size: 100%;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}
*:focus {
  outline: none;
}
header,
aside,
section,
nav,
footer,
article,
img {
  display: block;
}
a {
  color: #b11d1d;
}
a:hover {
  text-decoration: underline;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6,
.titulo,
.subtitulo {
  color: #b11d1d;
  font-style: italic;
  font-weight: 700;
}
h1,
.titulo {
  font-size: 3.7rem;
}
h2,
.subtitulo {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.7rem;
}
.stola {
  width: 0;
  height: 20px;
  border-right: 119px solid #b11d1d;
  border-left: 119px solid #b11d1d;
  border-bottom: 30px solid transparent;
  margin-left: 6px;
}
body {
  background: #e2cb95 url("../img/textura.jpg");
  color: #4c2f04;
  font-family: 'PT Serif', serif;
  font-size: 1.3rem;
  font-weight: 400;
}
#fotoFondo {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}
#contenedor {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  z-index: 1;
}
#bloqueDer,
#bloqueIzq {
  display: inline-block;
}
#bloqueIzq {
  vertical-align: top;
  width: 250px;
}
#bloqueDer {
  background: #808080;
  width: 70%;
}
#bloqueIzq aside {
  background: #b11d1d;
  color: #fff;
  line-height: 2.6rem;
  margin: 0 6px;
  padding-top: 25px;
  text-align: center;
}
#bloqueIzq aside #pedidos span {
  display: block;
  font-size: 20px;
}
#bloqueIzq header {
  background: #f6f2ec url("../img/bgHeader.jpg");
  border-top: 6px solid #b11d1d;
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
  padding: 30px 20px;
}
#bloqueIzq header h1 > span,
#bloqueIzq header h2 {
  display: none;
}
#bloqueIzq header h1 > a {
  color: #fff;
  display: block;
  margin-left: 21px;
  text-align: center;
}
#bloqueIzq nav {
  margin-top: 25px;
  text-align: center;
  text-transform: uppercase;
}
#bloqueIzq nav div {
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 3%, #4c2f04 40%, #4c2f04 59%, rgba(255,255,255,0) 98%);
  height: 2px;
}
#bloqueIzq nav ul li a {
  color: #4c2f04;
  display: block;
  padding: 8px;
  transition: color 0.4s linear;
}
#bloqueIzq nav ul li a:hover {
  color: #b11d1d;
  text-decoration: none;
}
#bloqueIzq nav ul li .actual {
  color: #b11d1d;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(219,219,219,0.75) 26%, rgba(209,209,209,0.75) 49%, rgba(209,209,209,0.75) 76%, rgba(255,255,255,0) 100%);
}
