#bloqueIzq
	header
		h1 > span, h2
				display none
		h1 > a
			display block
			color white
			text-align center
			margin-left 21px

		background col-bgHeader url(../img/bgHeader.jpg)
		border-top 6px solid colH
		box-shadow 0px 0px 10px 0px rgba(white 0.75)
		padding 30px 20px
	
	nav
		
		a
			color colTexto
		div
			height 2px
		
			background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,.0) 3%, rgba(76,47,4,1) 40%, rgba(76,47,4,1) 59%, rgba(255,255,255,.0) 98%)
		margin-top 25px
		text-align center
		text-transform uppercase

		

	



