doctype
html(lang="es")
head
	include includes/head.jade
body
	img#fotoFondo(src="img/foto-fondo.png", alt="Pancito donde Panchito")
	#contenedor
		#bloqueIzq
			include includes/bloqueIzq.jade	
		//fin de bloqueIzq	
		#bloqueDer
			#contenido

			// fin de contenido
			include includes/footer.jade
			
		//fin de bloqueDer			
script(type="text/javascript", src="js/main.js")
//fin del body



