header 
	h1
		span
			a(href="index.html") Pancito donde Panchito
		a(href="index.html")
			img(src="img/logo.png", alt="Pancito donde Panchito")
	h2 Este es el sitio web de la gran pasteleria pancito donde panchito
	nav
		ul
			- var values = ['index', 'preparaciones', 'eventos', 'galeria', 'locales', 'contacto']
			each val,index in ['Inicio', 'Preparaciones', 'Eventos', 'Galeria de Imagenes', 'Nuestros locales', 'Contacto']
				div
				if val == 'Inicio'
					li: a.actual(href=values[index]+'.html')= val
				else
					li: a(href=values[index]+'.html')= val
			div
aside
	#pedidos Haga su pedido al
		span +(52) 981 81 300 00
.stola