//- includes/head.jade

meta(charset="UTF-8")
meta(name="description" content="Este es el sitio web de la gran pasteleria Pancito donde Panchito")
meta(name="keywords" content="pasteleria, panaderia, pasteles")
title Pancito donde Panchito
link(rel="stylesheet" href="css/main.css")

<!--[if (gt IE 6) & (lte IE 8)]>
<script src="/ie.js"></script>
<![endif]-->