
/* Reset */

*
  font-size: 1.3rem
  line-height: 1.5rem
  list-style none
  margin 0
  outline none
  padding 0
  text-decoration none
  &:focus
    outline none
header, aside, section, nav, footer, article, img
  display block

/* estilos generales*/

a
  color colH
  &:hover
    text-decoration underline
html
  font-size 62.5%
h1, h2, h3, h4, h5 , h6, .titulo, .subtitulo
  color colH
  font-style italic
  font-weight 700
h1, .titulo
  font-size 3.7rem
h2, .subtitulo
  font-size 2.2rem
h3
  font-size 1.7rem

.stola
  width 0
  height 20px
  border-right 119px solid colH
  border-left 119px solid colH
  border-bottom 30px solid transparent
  margin-left 6px

/* estilos del documento*/
body
  background colFondo url(../img/textura.jpg)
  color colTexto
  font-family 'PT Serif', serif
  font-size 130%
  font-weight 400
#fotoFondo
  left 0
  position fixed
  top 0
  width 100%
  z-index 0
#contenedor
  margin 0 auto
  max-width 960px
  position relative
  z-index 1
#bloqueDer, #bloqueIzq
  display inline-block
#bloqueIzq
  margin-right 20px
  vertical-align top
  width 250px
#bloqueDer
  width 70%

