//- index.jade
extends base.jade
block deContenido
	#contenido
		section#destacado
			article
				div
					p.titulo Pancito donde Panchito
					p.subtitulo Las mejores preparaciones en pasteleria de todo Mexico
		// fin de destacado
		section#testimonioHome
			article
				img(src='img/avatar.jpg' alt='Ricardo Martin Changoleon')
				div
					blockquote "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet consequuntur perspiciatis deleniti error aspernatur quae, modi consectetur temporibus repellendus? Aperiam voluptate beatae consequuntur dolores et perferendis illum quod repellat architecto."
					p Ricardo Martin Changoleon / Revista el Tremendo Gourmet
		// fin de testimonio
		section#preparacionHome
			- var n = 0
			while n++ < 3
				article
					h3 Preparacion #{n}
					img(src='img/preparacion'+ n + '.jpg' alt='Preparacion' + n)
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga molestias, doloribus quo architecto dolore voluptas doloremque.
					a(href='#') Ver más
		//fin de preparaciones destacadas
	//-fin deContenido

