//- locales.jade
extends base.jade
block deContenido
	#contenido.pagina-interna
		section
			header
				img(src='img/local-destacado.jpg' alt='nuestros locales')
				.sombra
				.leyenda
					p.titulo Nuestros Locales
					p.subtitulo  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit deserunt quos at, eius quis ratione nihil error est, numquam temporibus doloremque recusandae, praesentium eligendi dolore tenetur itaque dignissimos! Nesciunt, velit.
			section.body-gral#body-locales
				iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3752.872090215602!2d-90.53751838482951!3d19.845364365093825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1413835095566" width="620" height="456" frameborder="0" )

	//fin de contenido
