footer
	margin-top 2rem
	margin-bottom 2rem
	& > a 
		margin-left 2rem
		display inline-block
		img
			width 160px
	div
		font-weight 700
		font-style italic
		color black
		line-height 2rem
		margin-left 5rem
		display inline-block
		vertical-align top

		p
			&:last-child
				&:before
					content "\00A9"
				
		
	